body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #bcaaa4;
}

img{
    max-width: 100%;
}

.body{
    margin-top: 5%;
    background-color: #3e2723;  
    color: white;
    box-shadow: 10px 10px 10px #8d6e63;
}